<a href="https://colab.research.google.com/github/giusilva89/python_exercises/blob/main/1_Python_101_Variables_Assignment%2C_Math_Ops%2C_Precedence%2C_and_Print_Get_Skeleton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. VARIABLES ASSIGNMENT

In [ ]:
# Define a variable named "portfolio_1" and assign a number (integer) to it
portfolio_1 = 1

In [ ]:
# Let's view "portfolio_1"
portfolio_1

1

In [ ]:
# Define a variable named "portfolio_2" and assign a number (float) to it
portfolio_2 = 1.34324

In [ ]:
# Let's view "portfolio_2"
portfolio_2

1.34324

In [ ]:
# Let's overwrite "portfolio_2" (assume your portfolio value increased)
portfolio_2 = 2.3453

In [ ]:
# Notice that "portfolio_2" will only contain the most recent value
portfolio_2

2.3453

In [ ]:
# Get the type of "portfolio_1" which is integer
# integer is a whole number (no decimals) that could be positive or negative
type(portfolio_1)

int

In [ ]:
# Get the type of "portfolio_2" which is float
# Float are real numbers with a decimal point dividing the integer and fractional parts
type(portfolio_2)

float

**MINI CHALLENGE #1:**
- **We defined a variable AMZN (Ticker symbol for Amazon stock) and we assigned these 3 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells** 



```
AMZN = 3324
AMZN = 3400
AMZN = 3530
AMZN
```

In [ ]:
AMZN = 3324
AMZN = 3400
AMZN = 3530
AMZN

3530

**MINI CHALLENGE #2:**
- **We defined a variable AAPL (Ticker symbol for Apple stock) and we assigned these 2 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells** 



```
AAPL = 112
AAPL = 115.3
type(AAPL)
```

In [ ]:
AAPL = 112
AAPL = 115.3
type(AAPL)

float

# 2. MATH OPERATIONS

In [ ]:
# Define a variable named AAPL and initialize it with 5 indicating that we own 5 stocks
# Let's assume that we bought an additional stock so now we have 6 stocks instead of 5 
# We can increment AAPL by 1 stock as follows:
APPL = 5

In [ ]:
APPL = APPL + 1
APPL

6

In [ ]:
# Alternatively, we can increment the variable AAPL by 1 as follows:
APPL = 5
x = 1
APPL = APPL + x
APPL

6

In [ ]:
APPL +=1
APPL

7

In [ ]:
# Let's assume that the price of AAPL stock is $260 and we currently have 5 AAPL stocks in our portfolio
# We can calculate the total portfolio value (account balance) as follows:
quantity = 5
price = 260
APPL = quantity*price
APPL

1300

In [ ]:
# Let's assume you have $20000 USD in our account
# We want to buy AMZN stocks using the total amount 
# AMZN stock is priced at $3116 each

AMZN_price = 3116
balance = 20000
possible_buy = balance / AMZN_price 
round(possible_buy,0)

6.0

In [ ]:
# Divide the account balance by Amazon stock price and place the answer in units
AMZN_price = 3116
balance = 20000
possible_buy = balance / AMZN_price 
round(possible_buy,0)

6.0

**MINI CHALLENGE #3:** 
- **Write a code that calculates the total value of a portfolio assuming that you own 15 Google stocks (Sticker Symbol: GOOG) priced at 1500 each**

In [ ]:
price_goog = 1500
quantity_goog = 15
total = price_goog*quantity_goog
total

22500

**MINI CHALLENGE #4:**
- **Write a code that takes in Google (GOOG) stock prices at two days and calculate the return:**
  - **GOOG price on day 1 = \$260** 
  - **GOOG price on day 2 = \$280**

In [ ]:
goog_1 = 260
goog_2 = 280
total_diff = goog_2 - goog_1
pct_change = round(total_diff / goog_1 * 100,2)
pct_change

7.69

# 3. ORDER OF OPERATIONS (PRECEDENCE)

In [ ]:
# add 3 and 4 and then multiply the answer by 5
# Note that parantheses have the highest precedence
(3+4)*5

35

In [ ]:
# Multiplication has higher precedence compared to addition
3+4*5

23

In [ ]:
# Division has higher precedence compared to addition
10-4/2

8.0

**MINI CHALLENGE #5:**
- **Assume that you own 15 shares of AAPL stock priced at \$150 a share. Apple announced the launch of 5 new products with exceptional features so the stock price increased to $170 a share. Calculate the total profit.**

In [ ]:
q = 15
APPL = 150
APPL_2 = 170
amount = q*APPL
amount

profit = APPL_2*q - amount
profit

300

**MINI CHALLENGE #6:** 
- **Write a code that performs the following mathematical operation: z = |x − y| * (x + y)**

In [ ]:
x = 4
y = 2
# abs stand for absolute number
z = abs(x-y) * (x+y)
z

12

# 4. PRINT OPERATION

In [ ]:
# Print function is used to print elements on the screen
# Define a string x 
# A string in Python is a sequence of characters
# String in python are surrounded by single or double quotation marks
x = 'ireland'

In [ ]:
# Obtain the data type for 'x'
type(x)

str

In [ ]:
# Print x
print(x)

ireland

In [ ]:
# Define a string and put 'Apple Inc.' in it
app = 'Apple Inc.'

In [ ]:
# The format() method formats the specified value and insert it in the placeholder. 
# The placeholder is defined using curly braces: {}
company_name = 'Ticker name for {} is APP'.format(app)
print(company_name)

Ticker name for Apple Inc. is APP

In [ ]:
shares = 30

In [ ]:
# You can place two or more placeholders with print function 
new_company = 'I own {} and Ticker name for {} is APP'.format(shares,app)
print(new_company)

I own 30 and Ticker name for Apple Inc. is APP

**MINI CHALLENGE #7:**
- **Write a code that print out the above statement along with AAPL ticker**
- **i.e.: I own 30 shares of Apple Inc.(AAPL)**

In [ ]:
company_name = 'Apple Inc.'
shares = 30
ticker = 'AAPL'

In [ ]:
# You can place two or more placeholders with print function 
new_company = 'I own {} shares of {}({})'.format(shares,company_name,ticker)
print(new_company)

I own 30 shares of Apple Inc.(AAPL)

# 5. GET USER INPUT

In [ ]:
# input is a built-in function in python
# Get bank client name as an input and print it out on the screen 
name = input(' Welcome to the bank, What is your name? ')

 Welcome to the bank, What is your name? Giuliano

In [ ]:
# Obtain bank client data such as name, age and assets and print them all out on the screen
name = input(' Welcome to the bank, What is your name? ')
age = input(' Enter your age ')
networth = input(' Enter your total networth (assets - liabilities)')
print('My name is {}, I am {} year old, and my estimated networth is {}'.format(name,age,networth))

 Welcome to the bank, What is your name? Giuliano
 Enter your age 32
 Enter your total networth (assets - liabilities)3000
My name is Giuliano, I am 32 year old, and my estimated networth is 3000

In [ ]:
# Obtain user inputs, perform mathematical operation, and print the results 
# Note: Are you getting an error? Move to the next code cell 
x = input(' Enter price of AAPL stock today ')
y = input(' Enter the number of AAPL stocks that you want to buy ')
print('Total funds required to buy {} shares of AAPL at {} dollars is {}'.format(x,y,x*y))

Enter price of AAPL stock today2000
Enter the number of AAPL stocks that you want to buy100

TypeError: ignored

In [ ]:
# You can't multiply strings that is the problem above!

In [ ]:
# Convert from string datatype to integer datatype prior to performing addition
x = input(' Enter price of AAPL stock today ')
# It's necessary to convert the variable into Integer -> Casting into integer
x = int(x)
y = input(' Enter the number of AAPL stocks that you want to buy ')
# It's necessary to convert the variable into Integer -> Casting into integer
y = int(y)
print('Total funds required to buy {} shares of AAPL at {} dollars is {}'.format(x,y,x*y))

 Enter price of AAPL stock today 2000
 Enter the number of AAPL stocks that you want to buy 100
Total funds required to buy 2000 shares of AAPL at 100 dollars is 200000

**MINI CHALLENGE #8:** 
- **Write a code that takes in the name of the stock, price at which it is selling, the number of stocks that you want to own and prints out the total funds required to buy this stock. Find a sample expected output below:**

  - Enter the price of the stock you want to buy: 3000  
  - Enter the number of stocks that you want to buy: 5
  - Enter the name of the stock that you want to buy: AMZN
  - The total funds required to buy 5 number of AMZN stocks at 3000 is 15000

In [ ]:
a = input(' Enter the price of the stock you want to buy: ')
a = int(a)
b = input(' Enter the number of stocks that you want to buy: ')
b = int(b)
c = input(' Enter the name of the stock that you want to buy: ')

print('The total funds required to buy {} number of {} stocks at {} is {}'.format(b,c,a,a*b))

 Enter the price of the stock you want to buy: 3000
 Enter the number of stocks that you want to buy: 5
 Enter the name of the stock that you want to buy: AMZN
The total funds required to buy 5 number of AMZN stocks at 3000 is 15000

# EXCELLENT JOB

# MINI CHALLENGES SOLUTIONS

**MINI CHALLENGE #1:**
- **We defined a variable AMZN (Ticker symbol for Amazon stock) and we assigned these 3 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells** 



```
AMZN = 3324
AMZN = 3400
AMZN = 3530
AMZN
```

In [ ]:
# The output of this code is 3530
# Initially we put 3324 in AMZN, then we overwrite it by placing 3400 in AMZN, and then 3530 in AMZN
AMZN = 3324
AMZN = 3400
AMZN = 3530
AMZN

**MINI CHALLENGE #2:**
- **We defined a variable AAPL (Ticker symbol for Apple stock) and we assigned these 2 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells** 



```
AAPL = 112
AAPL = 115.3
type(AAPL)
```

In [ ]:
AAPL = 112
AAPL = 115.3
type(AAPL)

**MINI CHALLENGE #3 SOLUTION:** 
- **Write a code that calculates the total value of a portfolio assuming that you own 15 Google stocks (Sticker Symbol: GOOG) priced at 1500 each**

In [ ]:
price  = 1500
x  = 15
amount = x * price
amount

**MINI CHALLENGE #4 SOLUTION:**
- **Write a code that takes in Google (GOOG) stock prices at two days and calculate the return:**
  - **GOOG price on day 1 = \$260** 
  - **GOOG price on day 2 = \$280**

In [ ]:
GOOG_price_1 = 260
GOOG_price_2 = 280

price_diff = GOOG_price_2 - GOOG_price_1
percentage_change = price_diff / GOOG_price_1 * 100

percentage_change

**MINI CHALLENGE #5 SOLUTION:**
- **Assume that you own 15 shares of AAPL stock priced at \$150 a share. Apple announced the launch of 5 new products with exceptional features so the stock price increased to $170 a share. Calculate the total profit.**

In [ ]:
AAPL_new = 170
AAPL_old = 150
num_shares = 15
profit = (AAPL_new - AAPL_old) * num_shares   
profit

**MINI CHALLENGE #6 SOLUTION:** 
- **Write a code that performs the following mathematical operation: z = |x − y| * (x + y)**

In [ ]:
x = 4
y = 2
z = abs(x-y) * (x+y)

**MINI CHALLENGE #7 SOLUTION:**
- **Write a code that print out the above statement along with AAPL ticker**
- **i.e.: I own 30 shares of Apple Inc.(AAPL)**

In [ ]:
ticker = 'AAPL'
print("I own {} shares of {}({})".format(shares, company_name, ticker))

**MINI CHALLENGE #8 SOLUTION:** 
- **Write a code that takes in the name of the stock, price at which it is selling, the number of stocks that you want to own and prints out the total funds required to buy this stock. Find a sample expected output below:**

  - Enter the price of the stock you want to buy: 3000  
  - Enter the number of stocks that you want to buy: 5
  - Enter the name of the stock that you want to buy: AMZN
  - The total funds required to buy 5 number of AMZN stocks at 3000 is 15000

In [ ]:
x = input("Enter the price of the stock you want to buy: ")
x = int(x)
y = input("Enter the number of stocks that you want to buy: ")
y = int(y)
z = input("Enter the name of the stock that you want to buy: ")
print('The total funds required to buy {} number of {} stocks at {} is {}'.format(y,z,x, x*y))