<a href="https://colab.research.google.com/github/giusilva89/python_exercises/blob/main/2_Python_101_Data_Types_Skeleton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. BOOLEANS

In [2]:
# Boolean values can be represented as one of two constant objects "False" and "True". 
# Booleans behave like integers 0 and 1.
True

True

In [3]:
False

False

In [4]:
False

False

In [17]:
x1 = 20
x2 = 30
print(x1 == x2)

False

**MINI CHALLENGE #1:** 
- **What will this code generate?**
```
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)
```

In [5]:
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)

True
False

# 2. LIST

In [10]:
# A list is a collection which is ordered and changeable. 
# List allows duplicate members.
a = [1,2,3]
a

[1, 2, 3]

In [8]:
# Obtain the datatype

type(a)

list

In [11]:
# list with mixed datatypes (for example you can have strings and integers in one list)
b = [2, 'GOOG', 5]
b

[2, 'GOOG', 5]

In [13]:
# You can have a list inside another list (nested list)
c = ['GOOG', [3,6,7]]
c

['GOOG', [3, 6, 7]]

In [34]:
c[1][1]

6

In [14]:
# Access specific elements in the list with Indexing
# Note that the first element in the list has an index of 0 (little confusing but you'll get used to it!)
c[0]

'GOOG'

In [15]:
c[1][1]

6

In [16]:
c[1][2]

7

In [19]:
# indexing for nested lists
d = ['GOOG', [3, 6, 7], ['AAPL', 5,6]]
d

['GOOG', [3, 6, 7], ['AAPL', 5, 6]]

In [20]:
d[1][1]

6

In [21]:
d[2][0]

'AAPL'

In [25]:
# Negative Indexing
# Index starts at -1 
e = ['GOOG', 3, 5]
e

['GOOG', 3, 5]

In [35]:
e[2]

5

In [26]:
e[-1]

5

In [27]:
e[-2]

3

In [28]:
e[-3]

'GOOG'

In [30]:
# List Slicing (getting more than one element from a list) 
f = [ 2,5,7,'GOOG', 'SP500', 'AMZN']


# obtain elements starting from index 3 up to and not including element with index 6  
f[3:6]

['GOOG', 'SP500', 'AMZN']

In [37]:
f[2:4]

[7, 'GOOG']

In [2]:
# Obtain elements starting from index 3 to end
g = [2,5,7,'GOOG', 'SP500', 'AMZN', 15]
g[3:7]

['GOOG', 'SP500', 'AMZN', 15]

In [3]:
g

[2, 5, 7, 'GOOG', 'SP500', 'AMZN', 15]

In [4]:
g[0:7]

[2, 5, 7, 'GOOG', 'SP500', 'AMZN', 15]

In [6]:
# All elements start to end
g[:]

[2, 5, 7, 'GOOG', 'SP500', 'AMZN', 15]

In [58]:
# Obtain the length of the list (how many elements in the list) 
len(g)

7



*   List item
*   List item

In [75]:
d = ['GOOG', [3, 6, 7], ['AAPL', 5,6], ['AMZN',2]]
d[2][2]

6

**MINI CHALLENGE #2:**
- **Print the first, second and last element in the list below**
- **Print all elements in the list, first 3 elements, and last three elements**

```
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
```

In [8]:
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
print(stocks[0])
print(stocks[1])
print(stocks[-1])

GOOG
TSLA
EUR/USD

In [9]:
stocks[:]

['GOOG', 'TSLA', 'AAPL', 'T', 'SP500', 'BTC', 'EUR/USD']

In [103]:
stocks[-8:-4]

['GOOG', 'TSLA', 'AAPL']

In [101]:
stocks[-4:-1]

['T', 'SP500', 'BTC']

**MINI CHALLENGE #3:** 
- **Print GOOG**
- **Print AAPL, GOOG, TSLA** 
- **Print T with two different ways**

```
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
```

In [117]:
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
print(my_list[1][1])
print(my_list[1])
print(my_list[3])
print(my_list[-1])

GOOG
['AAPL', 'GOOG', 'TSLA']
T
T

# 3. DICTIONARY

In [10]:
# my_dict = {'key1':'value1', 'key2':'value2', 'key3':'value3'}
# Dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its corresponding value.
# Keys are unique within a dictionary while values may not be. 
# List elements are accessed by their position in the list, via indexing while Dictionary elements are accessed via keys

# Define a dictionary using key-value pairs
dic = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [11]:
# View the dictionary
dic

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [12]:
# Check the data type
type(dic)

dict

In [13]:
# Access specific element in the dictionary using a specific key (ex: Key2)
dic['key2']

'value2'

In [16]:
# Define a dictionary for a bank client listing all his/her assets! 
dicti = {'Real estate': 150000, 'stocks': 10000, 'savings': 20000, 'Crypto': 150, 12:1}
dicti
dicti['stocks']

10000

In [19]:
# Access elements in the dictionary
print(dicti)

{'Real estate': 150000, 'stocks': 10000, 'savings': 20000, 'Crypto': 150, 12: 1}

In [21]:
# Add a new item to an existing dictionary
dicti['Crypto'] = 1500
print(dicti)

{'Real estate': 150000, 'stocks': 10000, 'savings': 20000, 'Crypto': 1500, 12: 1}

In [24]:
# remove an item from the dictionary
del dicti['savings']
print(dicti)

{'Real estate': 150000, 'stocks': 10000, 'Crypto': 1500, 12: 1}

In [25]:
# delete the entire dictionary
# Note that you cannot print it out again because the entire dictionary has been deleted
del dicti

In [26]:
print(dicti)  # error because dictionary has been deleted!

NameError: ignored

**MINI CHALLENGE #4:**
- **Create a dictionary with 3 of your favourite stocks and their prices**

In [28]:
assets = {'GOOG': 10, 'AAPL': 20, 'AMZN': 30}
print(assets)

{'GOOG': 10, 'AAPL': 20, 'AMZN': 30}

# 4. STRINGS

In [29]:
# A string in Python is a sequence of characters
# String can be enclosed by either double or single quotes
'Hello Everyone and Welcome to Python for finance course!'

'Hello Everyone and Welcome to Python for finance course!'

In [30]:
x = 'Hello'

In [31]:
# Obtain the datatype
type(x)

str

In [37]:
# Combining two strings together (Let's combine the first and last name of a bank's client)
str1 = 'Laila'
str2 = 'Aly'
concat = str1+str2
concat

'LailaAly'

In [40]:
# You can combine both strings together and add spaces in between
concat = str1 +  ' ' + str2
concat

'Laila Aly'

In [41]:
# Methods on strings 
# upper will be used to convert the string into upper case
concat.upper()

'LAILA ALY'

In [43]:
# Split us used to divide up the string into words 
# The output from split is a list
x = 'Hello Everyone and Welcome to Python for Finance Course!'
x = x.split()
x

['Hello',
 'Everyone',
 'and',
 'Welcome',
 'to',
 'Python',
 'for',
 'Finance',
 'Course!']

In [44]:
# Let's check that the datatype is list!
type(x)

list

In [45]:
# you can index any element in the list using indexing
x[1]

'Everyone'

In [47]:
# you can specify which letter could be choosed to perform the split
email = 'laila.aly@gmail.com'
email = email.split('@')
email

['laila.aly', 'gmail.com']

**MINI CHALLENGE #5:**
- **Write a code that takes an input from a bank client asking him/her about their feedback regarding the service. The code should split the client input into words and print them on screen**

In [55]:
feedback = 'Thanks for reaching us out! Would be able to give a feedback about our services?'
feedback = feedback.split(' ')
feedback

['Thanks',
 'for',
 'reaching',
 'us',
 'out!',
 'Would',
 'be',
 'able',
 'to',
 'give',
 'a',
 'feedback',
 'about',
 'our',
 'services?']

**MINI CHALLENGE #6:**
- **Write a code that prompts a user requesting his/her e-mail and then extracts the user first name (Note that the e-mail is in firstname.lastname@gmail.com**

In [61]:
e = 'firstname.lastname@gmail.com'
e = e.split('@')
e = e[0].split('.')
print(e[0])

firstname

# 5. TUPLES

In [ ]:
# A tuple is a sequence of immutable Python objects. 
# Tuples are sequences, just like lists. 
# The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

In [62]:
tuple_1 = ('GOOG', 'APPL', 10, 15, 1992)
tuple_2 = (5,7,10,12)
print(type(tuple_1))
print(type(tuple_2))

<class 'tuple'>
<class 'tuple'>

In [63]:
# Accessing elements in a tuple
tuple_1[1]

'APPL'

In [66]:
# Tuple slicing -- getting all but the last
tuple_1[:-1]

('GOOG', 'APPL', 10, 15)

In [67]:
# Changing a vlue of a tuple does not work! 
# 'tuple' object does not support item assignment
tuple_1[1] = 100  # it won't work because tuples are immutable!

TypeError: ignored

In [68]:
# Create a New Tuple from existing Tuples
# Combining tuples is possible!
tuple_3 = tuple_1 + tuple_2
tuple_3

('GOOG', 'APPL', 10, 15, 1992, 5, 7, 10, 12)

**MINI CHALLENGE #7:**
- **Define a tuple with your first name, last name, age and the number of stocks in your portfolio. Find the length and type as well.**

In [69]:
my_info = ('Giuliano', 'Silva', 32, 5)
print(len(my_info))
print(type(my_info))

4
<class 'tuple'>

# 6. SETS

In [70]:
# A set is an unordered collection of items. Every element is unique (no duplicates).
# A set is created by placing all the items (elements) inside curly braces {}, separated by comma or by using the built-in function set().
# set of integers

my_set = {'GOOG', 'T', 'AAPL'}
print(my_set)
print(type(my_set))
print(len(my_set))

{'AAPL', 'GOOG', 'T'}
<class 'set'>
3

In [72]:
# set do not have duplicates
set_dup = {'T', 'APPL', 'GOOG', 'TSLA', 'AAPL'} # it eliminates the 'AAPL' 
set_dup

{'AAPL', 'APPL', 'GOOG', 'T', 'TSLA'}

**MINI CHALLENGE #8:**
- **Remove the duplicates from the following list:**


```
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
```

In [76]:
# Just tranform it into a set and call as a list again
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
my_list = list(set(my_list))
my_list

['GOOG', 5, 6, 'TSLA', 'T', 'APPL', 'AAPL']

# MINI CHALLENGE SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:** 
- **What will this code generate?**
```
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)
```

In [ ]:
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)

True
False

**MINI CHALLENGE #2 SOLUTION:**
- **Print the first, second and last element in the list**
- **Print all elements in the list, first 3 elements, and last three elements**

```
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
```

In [ ]:
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
print(stocks[0])
print(stocks[1])
print(stocks[-1])

GOOG
TSLA
EUR/USD

In [ ]:
print(stocks[:])
print(stocks[0:3])
print(stocks[4:])

**MINI CHALLENGE #3 SOLUTION:** 
- **Print GOOG**
- **Print AAPL, GOOG, TSLA** 
- **Print T with two different ways**

```
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
```

In [ ]:
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]

In [ ]:
print(my_list[1][1])

GOOG

In [ ]:
print(my_list[1])

['AAPL', 'GOOG', 'TSLA']

In [ ]:
print(my_list[3])

T

In [ ]:
print(my_list[-1])

T

**MINI CHALLENGE #4 SOLUTION:**
- **Create a dictionary with 3 of your favourite stocks and their prices**

In [ ]:
stocks = {"SP500": 3000, 
          "AAPL": 400,
          "TSLA": 2200}
print(stocks)

{'SP500': 3000, 'AAPL': 400, 'TSLA': 2200}

**MINI CHALLENGE #5 SOLUTION:**
- **Write a code that takes an input from a bank client asking him/her about their feedback regarding the service. The code should split the client input into words and print them on screen**

In [ ]:
my_string = str(input("What did we do at the bank today? are you satisfied with the service"))
words = my_string.split(" ")
print("Here are the list of words you entered:", words)

What did we do at the bank today? are you satisfied with the serviceMy experience today was positive, the service is perfect! great job everyone
Here are the list of words you entered: ['My', 'experience', 'today', 'was', 'positive,', 'the', 'service', 'is', 'perfect!', 'great', 'job', 'everyone']

**MINI CHALLENGE #6 SOLUTION:**
- **Write a code that prompts a user requesting his/her e-mail and then extracts the user first name (Note that the e-mail is in firstname.lastname@gmail.com**

In [ ]:
input_str = input("Welcome to the bank, please enter your e-mail address:")
out_str = input_str.split('@')
out_str = out_str[0].split('.')
print(out_str[0])

Enter your e-mail address:ryan.ahmed@yahoo.com
ryan

**MINI CHALLENGE #7 SOLUTION:**
- **Define a tuple with your first name, last name, age and the number of stocks in your portfolio. Find the length and type as well.**

In [ ]:
my_tuple = ("Ryan", "ahmed", 25, 10)
print(my_tuple)

('Ryan', 'ahmed', 25, 10)

In [ ]:
len(my_tuple)

4

In [ ]:
type(my_tuple)

tuple

**MINI CHALLENGE #8 SOLUTION:**
- **Remove the duplicates from the following list:**


```
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
```

In [ ]:
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6, 5]
out_list = list(set(my_list))
print(out_list)

[5, 6, 'T', 'APPL', 'GOOG', 'TSLA', 'AAPL']