<a href="https://colab.research.google.com/github/giusilva89/python_exercises/blob/main/3_Python_101_Comparison%2C_Logical_Operators%2C_Conditional_Statements_Skeleton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. COMPARISON OPERATORS

In [9]:
# Comparison Operator output could be "True" or "False"
# Let's cover equal '==' comparison operator first
# It's simply a question: "Is stock_1_price equals stock_2_price or not?"
# "True" output means condition is satisfied 
# "False" output means Condition is not satisfied (condition is not true) 

stock_price_1 = 20
stock_price_2 = 20
print(stock_price_1 == stock_price_2)
print(type(stock_price_1))
print(type(stock_price_2))

True
<class 'int'>
<class 'int'>

In [8]:
# Greater than or equal operator '>='
stock_price_1 = 40
stock_price_2 = 20
print(stock_price_1 >= stock_price_2)
print(type(stock_price_1))
print(type(stock_price_2))

True
<class 'int'>
<class 'int'>

In [ ]:
# Note that '==' is a comparison operator 
# Note that '=' is used for variable assignment (put 10 in stock_1_price)

In [7]:
stock_price_3 = 10
print(stock_price_3)
print(type(stock_price_3))

10
<class 'int'>

In [5]:
# Comparison operators work with strings as well
first_name = 'Giuliano'
last_name = 'Silva'
print(first_name == last_name)
print(type(first_name))
print(type(last_name))

False
<class 'str'>
<class 'str'>

In [11]:
# Both strings have to exactly match (lower case vs. upper case)
f_name = 'GIULIANO'
f_name_1 = 'Giuliano'
print(f_name == f_name_1)

False

In [12]:
# Not equal comparison operator '!='
stock_price_4 = 40
stock_price_5 = 70
print(stock_price_4 != stock_price_5)

True

**MINI CHALLENGE #1:**
- **Without executing the code cell, What will this code generate?**

```
stock_1_price = 15
stock_2_price = 10

print(stock_1_price == stock_2_price) 
print(stock_1_price != stock_2_price) 
print(stock_1_price > stock_2_price)
print(stock_1_price < stock_2_price) 
```

In [13]:
# ANSWERS
# False
# True
# True
# False

In [14]:
# Check!

stock_1_price = 15
stock_2_price = 10
 
print(stock_1_price == stock_2_price) 
print(stock_1_price != stock_2_price) 
print(stock_1_price > stock_2_price)
print(stock_1_price < stock_2_price)

False
True
True
False

# 2. LOGICAL OPERATORS

In [19]:
# For "and" logical operators, both arguments must be "True" in order for the output to be "True" 
# (Note that this is the only case in which the 'and' logical operator generates a True output)
# 1 and 1 = 1
print(True and True)
print(True or False)
print(False and True)
print(False or True)

True
True
False
True

In [20]:
# 0 and 1 = 0
False and True

False

In [22]:
# 0 and 0 = 0
False and False

False

In [24]:
# For "or" logical operators, if any one of the arguments is "True", the output will be "True" 
# 1 or 1 = 1
print(True or False)
print(False or True)

True
True

In [25]:
# 1 or 0 = 1
True or False

True

In [26]:
# 0 or 1 = 1
False or True

True

In [27]:
# 0 or 0 = 0 (Note that this is the only case in which the 'or' logical operator generates a False output)
False or False # when both are false using 'OR' it generates a False output

False

In [28]:
 # True and False = False 
True and False

False

In [29]:
# True or False = True
True or False

True

In [35]:
print((10>3) and (5==5))
print((10<3) and (5==5))
print((10<3) or (5==5))

True
False
True

**MINI CHALLENGE #2:**
- **Without executing the code cell, What will these two lines of code generate?**

```
print('FINANCE'!='FINANCE' and (10 > 3) and (20 == 20)) 
```

```
print('Finance'!='FINANCE' or (16 > 20) or (25 == 25)) 
```

In [ ]:
# ANSWERS
# False and True and True = False
# False or False or True = True

In [30]:
# Check
print('FINANCE'!='FINANCE' and (10 > 3) and (20 == 20)) 
print('Finance'!='FINANCE' or (16 > 20) or (25 == 25))

False
True

**MINI CHALLENGE #3:**
- **Without executing the code cell, What will these two lines of code generate?**

```
a = 5
b = 3.5

print(a == b or a != b) 
print(a == b and a != b) 
```

In [ ]:
# ANSWERS
# False or True = True
# False and False = False

In [31]:
# Check
a = 5
b = 3.5
 
print(a == b or a != b) 
print(a == b and a != b)

True
False

# 3. CONDITIONAL STATEMENTS

- A simple if-else statement is written in Python as follows:

```
if condition:
  statement #1
else:
  statement #2
```

- If the condition is true, execute the first indented statement
- if the condition is not true, then execute the else indented statements. 
- Note that Python uses indentation (whitespace) to indicate code sections and scope.

In [36]:
if 10>9:
  print('True')
else:
  print('False')

True

In [37]:
if 10<9:
  print('True')
else:
  print('False')

False

In [40]:
# Colon is necessary in each statement -> if, elif and else

if 3==4:
  print('First statement is True')
elif 4>5:
  print('Second statement is True')
else:
  print('Last statement is True')

Last statement is True

In [41]:
# In this particular case the conditional statement will stop when the first statement is True
# As the first statement is True it ends in the first

if 5<7:
  print('First statement is True')
elif 2>4:
  print('Second statement is True')
else:
  print('Last statement is True')

First statement is True

In [42]:
# Let's take an input from the user and grant or deny access accordingly
name = input(' Please enter your name ')
if name == 'Giuliano':
  print('Access granted!')
else:
  print('Access has been denied')

 Please enter your name Giuliano
Access granted!

In [44]:
# Let's make the code more robust (case insensitive)
# When using 'or' means that just need one to be True then everything will be True!
name_1 = input(' Please enter your name ')
if name == 'Giuliano' or name == 'GIULIANO' or name == 'giuliano':
  print('Access granted!')
else:
  print('Access has been denied')

 Please enter your name gIuLiAno
Access granted!

**MINI CHALLENGE #4:**
- **Write a code that takes a number from the user and indicates if it's positive or negative**

In [49]:
user_name = input(' What is your name? ')
user_number = int(input(' What is  your userId? '))

if user_number < 0:
  print('Negative number')
elif user_number > 0:
  print('Positive number')
else: 
  print('Zero number')

 What is your name? Giuliano
 What is  your userId? 0
Zero number

**MINI CHALLENGE #5:**
- **Write a code that takes a number from the user and checks if the number is divisible by 3 but is not a multiple of 7**

In [51]:
i = int(input(' Enter a number between 1 and 100 '))
if (i % 3 == 0) and (i % 7 != 0):
  print('Number satisfies the requirements: divisible by 3 and NOT multiple of 7')
else:
  print('Number does not satisfy the requirements')

 Enter a number between 1 and 100 5
Number does not satisfie the requirements

**MINI CHALLENGE #6:** 
- **Write a code that takes a number from the user and indicate if the number is even or odd**

In [54]:
o = int(input(' Enter a number between 1 and 100 '))
if (o % 2 == 0):
  print('It is a even number')
else:
  print('It is a odd number')

 Enter a number between 1 and 100 12
It is a even number

# MINI CHALLENGE SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:**
- **Without executing the code cell, What will this code generate?**

```
stock_1_price = 15
stock_2_price = 10

print(stock_1_price == stock_2_price) 
print(stock_1_price != stock_2_price) 
print(stock_1_price > stock_2_price)
print(stock_1_price < stock_2_price) 
```

In [ ]:
stock_1_price = 15
stock_2_price = 10

print(stock_1_price == stock_2_price) 
print(stock_1_price != stock_2_price) 
print(stock_1_price > stock_2_price)
print(stock_1_price < stock_2_price)

False
True
True
False

**MINI CHALLENGE #2 SOLUTION:**
- **Without executing the code cell, What will these two lines of code generate?**

```
print( 'Finance'!='FINANCE' and (10 > 3) and (20 == 20)) 
```

```
print( 'Finance'!='FINANCE' or (16 > 20) or (25 == 25)) 
```

In [ ]:
# FALSE and TRUE and TRUE
print('FINANCE'!='FINANCE' and (10 > 3) and (20 == 20))

False

In [ ]:
# TRUE or FALSE or TRUE
print('Finance'!='FINANCE' or (16 > 20) or (25 == 25))

True

**MINI CHALLENGE #3 SOLUTION:**
- **Without executing the code cell, What will these two lines of code generate?**

```
a = 5
b = 3.5

print(a == b or a != b) 
print(a == b and a != b) 
```

In [ ]:
a = 5
b = 3.5

print(a == b or a != b) # False or True = True 
print(a == b and a != b) # False and True = False

True
False

**MINI CHALLENGE #4 SOLUTION:**
- **Write a code that takes a number from the user and indicates if it's positive or negative or zero**

In [ ]:
x = int(input("Please enter an integer: "))

if x < 0:
    print('Number is Negative')
elif x > 0:
    print('Number is Positive')
else:    
    print ('Number is zero')

Please enter an integer: 9
Number is Positive

**MINI CHALLENGE #5 SOLUTION:**
- **Write a code that takes a number from the user and checks if the number is divisible by 3 but is not a multiple of 7**

In [ ]:
# Try 21

i = int(input("Enter a number between 1 and 100:"))

if (i % 3 == 0) and (i % 7 !=0):
    print("Number satisfies the requirement; The number is divisible by 3 and not multiple of 7")
else:
    print("The number does not satisfy the requirements")

Enter a number between 1 and 100:21
The number does not satisfy the requirements

**MINI CHALLENGE #6 SOLUTION:** 
- **Write a code that takes a number from the user and indicate if the number is even or odd**

In [ ]:
x = int(input("Please enter an integer from 1 to 1000: "))

if x % 2==0:
    print('Number is Even')
else:
    print('Number is odd')

Please enter an integer from 1 to 1000: 50
Number is Even